*{
    margin: 0;
    padding: 0;
}
.main .container{
    padding: 0 200px;
    max-width: 1280px;
}
body{
    background-color: rgb(255, 254, 253);
}
input{
    width: 90%;
    padding: 16px 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 10px; */
    padding-left: 10px;
}
input:focus{
  outline: none;
  color: aqua;
  box-shadow: 1px 1px 4px;
 
}
.main{
    padding: 100px 0;
}
.main-column{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.flex-column1{
    padding-top: 110px;
    padding-right: 60px;
}
.flex-column1 img{
    width: 321px;
    height: 106px;
    margin: -32px;
    padding-bottom: 15px;
}
.main p{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    font-weight: 500px;
}
 ::placeholder{
    color: rgb(59, 53, 53);
   padding: 20px;
    font-size: 16px;
  }
h3{
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.main .logine{
    background-color: #1877F2;
    padding: 15px 120px;
    border-radius: 10px;
    text-align: center;
}
.logine a{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: #fff;
   
}
.main .forget {
	color: #1877F2;
	font-size: 18px;
	font-weight: 400;
	/* padding-top: -8px;
	margin-top: 10px; */
	line-height: 34px;
}
.main .new-acound{
    background-color: #0df10d;
    padding: 15px 35px;
    border-radius: 10px;
    text-align: center; 
}
.main .new-acound a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;

}
.subflex-column0 p{
    padding-left: 20px;
    padding-top: 30px;
}
.subflex-column{
    text-align: center;
    padding: 50px 20px;
    box-shadow: 1px 1px 30px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.subflex-column0 p{
    font-size: 14px;
}
.subflex-column0 p a{
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.flex-column{
    max-width: 400px;
}